{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="col-md-4 mx-auto mt-5 p-4 bg-black bg-opacity-50 rounded shadow">
  <h2 class="mb-3 text-center">Tizimga kirish</h2>
  
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary w-100">Kirish</button>
  </form>

  <div class="mt-4 text-center">
    <p class="mb-2">Hisobingiz yo‘qmi?</p>
    <a href="{% url 'register' %}" 
       class="btn btn-outline-light w-100 register-btn">
       ➕ Ro‘yxatdan o‘ting
    </a>
  </div>
</div>
{% endblock %}
